form{
    width: 60%;
}

form input{
    display: block;
    height: 2rem;
    margin-block: 2rem;
    border-radius: 1rem;
}

#add-h2 {
    text-align: center;
    margin-block: 2rem;
    font-size: 2rem;

}