   <header>
        <div class="logo">Tami4ok-shop</div>
        <nav>
            <a href="/">Home</a>
            <a href="/products">Товары</a>
            
           
        </nav>
        <div class="cart">
            <a href="/cart">Cart</a>
        </div>
    </header>