<%- include('components/top') %>
<div class="cart-container">
    <div class="cart-elements"></div>
    <div class="summary">
                <div class="summary-header">Itogo:</div>
                <div class="summary-info">
                    <p class="summary-prod">Tovars</p>
                    <p class="summary-price">$1488</p>
                </div>
                <button class="summary-buy">Buy Now</button>
            </div>
</div>
<%- include('components/bottom') %>