<%- include('components/top') %>

    <h2>Заголовок</h2>
    <p>корнтент</p>

    <% for(let i = 0; i < 10; i++){ %>
        <sryle="color: red;" >i want</p>
   <% } %>

<%- include('components/bottom') %>